html,
body,
figure,
img,
div,
input,
textarea,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 2px;
}
