.cursos {
  h3 {
    margin-bottom: var(--p-1);
  }
  ul {
    padding-left: 0.3125rem;
    @include for-desktop-only {
      padding-left: 1rem;
    }
  }
  li + li {
    margin-top: var(--p-1);
  }
  .row {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    @include flex(flex-start, center, 2.5rem);
  }
}
