.footer {
  background-color: var(--cor-suporte-escuro);
  box-shadow: inset 0 3.125rem var(--cor-cinza);
  padding-bottom: 2.5rem;
  @include just-mobile {
    box-shadow: inset 0 4rem var(--cor-cinza);
  }
  &__barracontato {
    background-color: var(--cor-suporte);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 800px;
    @include min-query(1921px) {
      max-width: 1000px;
    }
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 2rem 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--p-1);
    h2 {
      font-size: var(--tamanho-titulo);
      line-height: 1;
      color: var(--cor-cinza);
      @include min-query(481px) {
        flex: 0 1 120px;
      }
      @include min-query(1921px) {
        font-size: 2.5rem;
      }
    }
    p {
      color: var(--cor-cinza-medio);
      font-size: var(--tamanho-texto);
      line-height: 1.4;
      max-width: 75ch;
      @include min-query(481px) {
        flex: 2 1 150px;
      }
      @include min-query(1921px) {
        font-size: 1.25rem;
        text-align: center;
      }
    }
    h2,
    p {
      @include just-mobile {
        text-align: center;
        width: 100%;
      }
    }
    a {
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: var(--tamanho-tag);
      color: var(--cor-cinza);
      @include min-query(481px) {
        flex: 0 1 150px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      svg {
        margin-left: 0.625rem;
        path,
        circle {
          fill: var(--cor-cinza);
        }
        vertical-align: middle;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
  .container {
    margin-top: var(--p-2-5);
    text-align: center;
  }
  &__logo {
    svg {
      path,
      circle {
        fill: var(--cor-cinza);
      }
    }
  }
  &__menu,
  &__social,
  &__copy {
    margin-top: 1.5rem;
    @include for-mobile-only {
      margin-top: 2rem;
    }
  }
  &__menu {
    .nav__menu {
      @include flex(center, center, 2rem);
      li + li {
        @include for-mobile-only {
          margin-top: initial;
        }
      }
      a {
        color: var(--cor-cinza);
        font-size: var(--tamanho-tag);
        transition: 450ms ease-in-out;
        opacity: 0.6;
        @include just-mobile {
          font-size: var(--tamanho-texto);
        }
        &::after {
          background-color: var(--cor-cinza);
        }
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
  &__copy {
    font-size: var(--tamanho-texto);
    color: var(--cor-cinza-escuro);
    max-width: initial;
    letter-spacing: 1.2px;
  }
}
