.atualmente {
  background-color: var(--cor-cinza);
  h3 {
    font-size: var(--tamanho-subtitulo);
    margin-bottom: 0.625rem;
  }
  p {
    font-size: var(--tamanho-tag);
    line-break: 1.4;
    max-width: initial;
  }
  li + li {
    margin-top: var(--p-1);
  }
  .container {
    max-width: 850px;
  }
}

//darkmode ativo
body[data-darkmode="true"]{
  .atualmente{
    background-color: var(--cor-dark-suporte-medio);
    hr{
      background-color: var(--cor-dark-suporte-escuro-2);
    }
    h3{
      color: var(--cor-dark-suporte-claro);
    }
  }
}
