.header {
  position: relative;
  .container__menu {
    @include flex(center, space-between);
    max-width: 1440px;
  }
  &__buttons {
    @include for-mobile-only {
      @include flex(center);
    }
  }
  nav {
    @include for-mobile-only {
      position: absolute;
      background-color: var(--cor-cinza);
      width: 50%;
      top: 8.125rem;
      right: -100%;
      padding: 2rem 1rem;
      z-index: 2;
      border-radius: 4px;
      border: 1px solid var(--cor-cinza-claro);
      box-shadow: var(--box-shadow);
      transition: var(--pop-slow);
      opacity: 0;
      &.open {
        right: 0.625rem;
        opacity: 1;
      }
    }
    @include for-tablete-extend {
      flex: 2;
      position: initial;
    }
    .nav__menu {
      @include for-tablete-extend {
        @include flex(center, flex-end, 2rem);
      }
      a {
        color: var(--cor-suporte-escuro);
        @include for-tablete-extend {
          &.link_destaque {
            background-color: var(--cor-destaque);
            border-radius: 1.25rem;
            color: var(--cor-destaque-escuro);
            font-weight: bold;
            height: 2.5rem;
            line-height: 2.5rem;
            padding: 0 1rem;
            &:hover,
            &:focus {
              background-color: var(--cor-destaque-hover);
            }
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
  .btn__menu {
    font-size: 1px;
    position: relative;
    transition: var(--pop);
    @include for-tablete-extend {
      display: none;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 1.125rem;
      height: 2px;
      background-color: var(--cor-suporte-escuro);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: var(--pop);
    }
    &::before {
      height: 8px;
      background-color: transparent;
      border-top: 2px solid var(--cor-suporte-escuro);
      border-bottom: 2px solid var(--cor-suporte-escuro);
    }
    &:hover,
    &:focus {
      &::before {
        height: 12px;
      }
    }
    &.open {
      &::before,
      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: var(--cor-suporte-escuro);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
        height: 2px;
        border-top: 0;
        border-bottom: 0;
      }
    }
  }
}
