.logo {
  transition: var(--pop);
  svg {
    position: relative;
    z-index: 1;
    transition: var(--pop);
    path,
    circle {
      transition: var(--pop);
    }
  }
  &:hover,
  &:focus {
    svg {
      transform: scale(1.04) translateY(-5px);
      path,
      circle {
        fill: var(--cor-destaque-hover);
      }
    }
  }
}

//darkmode ativo
body[data-darkmode="true"] {
  .logo {
    svg {
      path,
      circle {
        fill: var(--cor-dark-suporte);
      }
    }
    &:hover,
    &:focus {
      svg {
        path,
        circle {
          fill: var(--cor-destaque-hover);
        }
      }
    }
  }
}
